server/src/main/resources/schema/searchResults.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://iis.com/search"
        xmlns:sr="http://iis.com/search"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <xs:element name="item">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="snippet" type="xs:string"/>
                <xs:element name="url" type="xs:string"/>
                <xs:element name="domain" type="xs:string"/>
                <xs:element name="position" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
